* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 10px;
}

#logo {
  text-decoration: none;
  color: black;
}

.hide {
  display: none !important;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  width: 50%;
  justify-content: space-between;
}
li {
  /* float: right */
}
li a {
  color: rgb(10, 1, 1);
  text-decoration: none;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}
li a:hover {
  background-color: lightgreen;
}

video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.video-container {
  display: flex;
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  font-size: larger;
  top: 30%;
  padding: 40px;
  word-wrap: break-word;
  color: white;
  font-size: 25px;
  word-spacing: 5px;
}
.box-container {
  display: grid;
  grid-template:
    "item1 item2 item3"
    "item4 item5 item6"
    "item4 item5 item6";
  background-color: #ffffff;
  gap: 10px;
}

.box-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.items {
  border: 2px dashed red;
}

.items-1 {
  grid-row: span 3;
  grid-area: item1;
}
.items-2 {
  grid-area: item2;
}

.items-3 {
  grid-area: item3;
}

.items-4 {
  grid-area: item4;
}

.items-5 {
  grid-area: item5;
}
.items-6 {
  grid-area: item6;
}
.statement {
  font-size: 60px;
  font-style: italic;
  color: rgb(5, 117, 80);
  padding: 20px;
}
.pic {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}
.statement-pics {
  width: 120px;
}
.pic :hover {
  opacity: 65%;
}
.img-container {
  display: flex;
  background-color: gray;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding: 40px;
  gap: 35px;
}
.photos {
  width: 400px;
  /* height: 250px; */
  /* margin: 20px; */
}
.cont-video {
  display: flex;
  position: relative;
  width: 100%;
}
.fairy-0 {
  position: absolute;
  font-size: 30px;
  font-family: sans-serif;
  top: 20%;
  left: 3.5%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  color: white;
}
.fairy-1 {
  position: absolute;
  top: 40%;
  left: 3.5%;
  color: #ffffff;
  font-size: 30px;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
}

.fairy-2 {
  position: absolute;
  top: 40%;
  /* right: 55%; */
  left: 50%;
  color: #ffffff;
  font-size: 30px;
}
.main-img-cont {
  display: flex;
  position: relative;
}
.main-img {
  width: 100%;
  height: 540px;
  margin-top: 55px;
}
.anime-0 {
  position: absolute;
  top: 22%;
  left: 3.5%;
  text-align: center;
  color: white;
  justify-content: center;
  font-size: large;
}
.anime-1 {
  position: absolute;
  top: 35%;
  left: 3.5%;
  text-align: center;
  color: white;
  justify-content: center;
  font-size: 40px;
}
.anime-2 {
  position: absolute;
  top: 50%;
  left: 3.5%;
  text-align: center;
  color: white;
  justify-content: center;
  font-size: 25px;
}
.anime-3 {
  position: absolute;
  top: 65%;
  right: 3.5%;
  /* text-align: center; */
  color: rgb(31, 24, 24);
  /* justify-content: center; */
  font-size: 20px;
  padding: 20px;
  width: 250px;
}
.review {
  background-color: gainsboro;
  width: 100%;
  height: fit-content;
  color: rgb(70, 70, 148);
}
.review-1 {
  font-size: 50px;
  /* text-align: center; */
  padding: 60px;
  padding-left: 35px;
}
.table-text {
  display: flex;
}
.text-1 {
  font-size: 20px;
  padding: 0 35px;
}
.text-01 {
  font-size: 20px;
  margin: 30px 0 60px;
}
.frame-0 {
  margin: 40px;
  left: 3.5%;
  top: 20%;
}
.main-frame {
  display: flex;
  justify-content: center;
  color: rgb(146, 137, 137);
}
.frame {
  padding: 17px;
}
.frame-10 {
  height: 450px;
  width: 300px;
}
.frame-heading {
  margin: 10px 0;
}
.main-gallery {
  background-color: rgb(243, 235, 235);
  width: 100%;
  margin-top: 60px;
}
.gallery-text {
  padding: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  color: rgb(41, 41, 126);
}
.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-items {
  width: 400px;
  height: 280px;
  margin: 20px;
  padding: 5px;
}
.gallery-text-2 {
  margin-top: 20px;
  padding: 40px;
  font-size: 20px;
  color: rgb(41, 41, 126);
}
.main-card {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.main-card-1,
.main-card-2,
.main-card-3,
.main-card-4 {
  width: 280px;
  height: fit-content;
  background-color: white;
  align-items: center;
  margin-bottom: 90px;
}
.card-1 {
  width: 100%;
  height: 150px;
}
.icon-insta {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 25px;
}
.card-1-text {
  text-align: center;
  font-size: 20px;
  color: rgb(8, 8, 14);
}
.card-1-text2 {
  word-wrap: break-word;
  padding: 10px;
  font-size: 18px;
  color: rgb(119, 119, 153);
  margin-bottom: 10px;
}
.card-1-footer {
  display: flex;
  border-top: 1px solid gray;
  padding: 5px;
  text-align: center;
}
.card-1-img {
  width: 40px;
  height: 40px;
}
.card-text3 {
  padding: 5px;
  margin-top: 8px;
  text-decoration: none;
  color: black;
}
.card-date {
  margin-top: 15px;
  text-decoration: none;
  color: rgb(151, 140, 140);
  font-size: 80%;
}
.card-icons {
  display: flex;
  margin: 7px 10px 0px;
  padding: 5px;
  gap: 20px;
}
.card-3 {
  width: 100%;
  height: 150px;
}
.mission {
  margin: 80px 0;
}

.mission-heading {
  padding-left: 25px;
  font-size: 20px;
  color: steelblue;
}
.heading-2 {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 25px;
  word-wrap: break-word;
  color: steelblue;
  padding: 25px;
  margin-top: 40px;
}
.heading-2::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 96.5%;
  border-bottom: 1px solid rgb(202, 196, 196);
  transform: translateX(-50%);
}
.bottom-mission {
  /* display: flex; */
  margin-top: 30px;
}
.bottom-mission-text1 {
  font-size: 1.5em;
  white-space: pre-wrap;
  font-style: italic;
  padding-left: 2%;
  font-family: "ITC Century Std" !important;
  margin-bottom: -35px;
  color: steelblue;
}
.bottom-mission-text2 {
  font-size: 50px;
  padding-left: 2%;
  margin-top: 35px;
  color: steelblue;
}
.main-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 15%;
  margin-top: -85px;
}
.buttons-items {
  background-color: coral;
  width: 140px;
  height: 120px;
  border: transparent;
  float: right;
  color: #ffffff;
}
.buttons-items:hover {
  opacity: 50%;
}
.main-footer {
  background-color: rgb(6, 56, 97);
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer-1 {
  display: flex;
  letter-spacing: 5px;
  padding: 40px;
  gap: 40px;
  justify-content: space-between;
}
.footer-1-text {
  flex-direction: row;
}
.footer-logo {
  width: 100px;
  mix-blend-mode: color-burn;
}
.footer-1-text {
  margin-top: 15px;
}
/* .maim-footer-icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
} */
.footer-20 {
  display: flex;
  gap: 15px;
  padding-left: 55rem;
  font-size: 20px;
}
.footer-main-content {
  display: flex;
}
.footer-about {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 25px;
  width: 40%;
  word-wrap: break-word;
}
.footer-about-text {
  color: rgb(207, 204, 204);
}
.about-address-1,
.about-address-2 {
  font-size: 15px;
  width: 30%;
}
.about-address-1:hover {
  opacity: 50%;
}
.about-address-2:hover {
  opacity: 50%;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-left: 10%;
  gap: 25px;
  color: rgb(207, 204, 204);
}
.footer-contact-heading {
  color: white;
}
.footer-links {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-left: 2.5%;
  gap: 25px;
  text-decoration: none;
}
.links-content {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}
.search-container {
  position: relative;
}
.search-input {
  padding: 0 35px;
  font-size: 16px;
  border: 1px solid rgb(207, 204, 204);
  outline: none;
  width: 200px;
  height: 45px;
  left: 30px;
  top: 50%;
  background-color: transparent;
  color: #ffffff;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 31%;
  font-size: 16px;
  color: rgb(207, 204, 204);
}
.footer-bottom-end {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 15px;
}
.footer-end-logo {
  display: flex;
  padding-left: 62rem;
  margin-top: 50px;
  gap: 10px;
}
.bottom-end-pic {
  width: 50px;
  height: 30px;
}

@media screen and (max-width: 500px) {
  /* header section */
  header {
    margin: 0;
    flex-direction: column;
    gap: 10px;
  }

  ul {
    flex-direction: column;
    width: 100%;
  }

  .overlay-text {
    transform: translate(0%, -50%);
    top: 50%;
    font-size: 8px;
    padding: 20px;
  }

  .top-video {
    height: 36vh !important;
    padding: 0%;
  }

  .statement {
    font-style: normal;
    font-size: 20px;
    padding: 10px;
  }
  .pic {
    flex-wrap: wrap;
    justify-content: unset;
    margin: 0;
  }
  .statement-pics {
    width: 60px;
  }
  .img-container {
    margin-top: 4px;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  .photos {
    width: 282px;
    margin: 0;
  }

  .fairy-0 {
    font-size: 15px;
    top: 6%;
    left: 3.5%;
  }
  .fairy-1 {
    top: 17%;
    left: 3.5%;
    font-size: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
  }

  .fairy-2 {
    top: 57%;
    left: 3.5%;
    font-size: 15px;
  }

  .main-img {
    margin-top: 10px;
  }
  .anime-0 {
    top: 9%;
    left: 3.5%;
    font-size: large;
  }
  .anime-1 {
    top: 22%;
    left: 3.5%;
    font-size: 40px;
  }
  .anime-2 {
    top: 42%;
    left: 3.5%;
    font-size: 22px;
  }
  .anime-3 {
    top: 75%;
    right: 5%;
    font-size: 20px;
    padding: 20px;
    width: 180px;
  }
  .table-text {
    flex-wrap: wrap;
    justify-content: center;
  }

  .frame-0 {
    margin: 20px;
  }
  .main-frame {
    flex-wrap: wrap;
  }
  .frame {
    padding: 10px;
  }
  .frame-10 {
    height: 240px;
  }
  .frame-heading {
    margin: 5px 0;
  }

  .main-gallery {
    margin-top: 15px;
  }
  .gallery-text {
    padding: 25px;
    padding-bottom: 0px;
    font-size: 20px;
  }
  .gallery-items {
    width: 280px;
    height: 220px;
    margin: 5px;
    padding: 5px;
  }

  .gallery-text-2 {
    margin-top: 0px;
    padding: 20px;
  }
  .main-card {
    padding: 5px;
    gap: 0px;
  }
  .main-card-1,
  .main-card-2,
  .main-card-3,
  .main-card-4 {
    width: 280px;
    margin-bottom: 30px;
  }
  .icon-insta {
    font-size: 20px;
    padding: 3px;
  }
  .card-1-text {
    font-size: 18px;
  }
  .card-1-text2 {
    padding: 5px;
    font-size: 17px;
    margin-bottom: 3px;
  }
  /* .card-1-footer {
    padding: 5px;
  }
  .card-text3 {
    padding: 5px;
    margin-top: 8px;
  }
  .card-date {
    margin-top: 15px;
  }
  .card-icons {
    margin: 7px 10px 0px;
    padding: 5px;
    gap: 20px;
  } */

  .mission {
    margin: 20px 0;
  }
  .mission-heading {
    padding-left: 10px;
  }
  .heading-2 {
    font-size: 15px;
    padding: 10px;
    margin-top: 0px;
  }
  .bottom-mission {
    margin-top: 7px;
  }
  .bottom-mission-text1 {
    margin-bottom: -20px;
  }
  .bottom-mission-text2 {
    margin-top: 15px;
  }
  .main-buttons {
    margin-right: 4%;
    margin-top: -40px;
  }
  .buttons-items {
    width: 60px;
    height: 45px;
  }

  .footer-1 {
    display: flex;
    letter-spacing: 1px;
    padding: 0px;
    gap: 0px;
  }
  .footer-logo {
    width: 50px;
    mix-blend-mode: color-burn;
  }
  .footer-1-text {
    margin-top: 0px;
    font-size: small;
  }
  .footer-20 {
    display: flex;
    gap: 8px;
    padding-left: 0rem;
    font-size: 15px;
  }
  .main-footer-icons {
    margin: 14px;
  }
  .footer-main-content {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-about {
    padding: 10px;
    gap: 5px;
    width: 100%;
  }
  .footer-about-text-1 {
    font-size: medium;
  }
  .footer-about-text {
    font-size: small;
  }
  .about-address-1,
  .about-address-2 {
    font-size: 12px;
    width: 100%;
  }
  .footer-contact {
    padding: 10px;
    margin-left: 0%;
    gap: 5px;
    width: 100%;
  }
  .footer-contact-heading {
    font-size: medium;
  }
  .footer-links {
    padding: 10px;
    margin-left: 0;
    gap: 10px;
    text-decoration: none;
    width: 100%;
  }
  .search-input {
    width: 165px;
    height: 40px;
  }
  .quick-link-text {
    font-size: medium;
  }
  .footer-bottom-end {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
    padding: 10px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
  }
  .footer-end-logo {
    display: flex;
    padding-left: 0rem;
    margin-top: 5px;
    gap: 10px;
  }
  .bottom-end-pic {
    width: 50px;
    height: 30px;
  }
}

@media screen and (min-device-width: 501px) and (max-device-width: 667px) {
  header {
    margin: 0;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
  }

  #hamburger {
    display: none;
  }

  .hide {
    display: flex !important;
  }

  ul {
    /* flex-direction: column; */
    width: 100%;
    justify-content: flex-end;
    gap: 16px;
  }

  .overlay-text {
    transform: translate(0%, -50%);
    top: 50%;
    font-size: 20px;
    padding: 20px;
  }

  .statement {
    font-style: normal;
    font-size: 30px;
    padding: 10px;
  }
  .pic {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 25px;
  }
  .statement-pics {
    width: 100px;
  }

  .img-container {
    margin-top: 10px;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  .photos {
    width: 455px;
    margin: 0;
  }

  .fairy-0 {
    font-size: 15px;
    top: 6%;
    left: 3.5%;
  }
  .fairy-1 {
    top: 17%;
    left: 3.5%;
    font-size: 18px;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
  }

  .fairy-2 {
    top: 62%;
    left: 3.5%;
    font-size: 18px;
  }

  .main-img {
    margin-top: 15px;
  }
  .anime-0 {
    top: 9%;
    left: 3.5%;
    font-size: 25px;
  }
  .anime-1 {
    top: 22%;
    left: 3.5%;
    font-size: 45px;
  }
  .anime-2 {
    top: 50%;
    left: 3.5%;
    font-size: 35px;
  }
  .anime-3 {
    top: 83%;
    right: 5%;
    font-size: 20px;
    padding: 20px;
    width: 220px;
  }
  .table-text {
    flex-wrap: wrap;
    justify-content: center;
  }

  .frame-0 {
    margin: 20px;
  }
  .main-frame {
    flex-wrap: wrap;
  }
  .frame {
    padding: 10px;
  }
  .frame-10 {
    height: 240px;
  }
  .frame-heading {
    margin: 8px 0;
  }

  .main-gallery {
    margin-top: 20px;
  }
  .gallery-text {
    padding: 25px 60px;
    padding-bottom: 0px;
    font-size: 20px;
  }
  .gallery-items {
    width: 360px;
    height: 240px;
    margin: 15px;
    padding: 0px;
  }

  .gallery-text-2 {
    margin: 0 78px;
    margin-top: 0px;
    padding: 20px;
  }
  .main-card {
    padding: 8px;
    gap: 15px;
  }
  .main-card-1,
  .main-card-2,
  .main-card-3,
  .main-card-4 {
    width: 280px;
    margin-bottom: 10px;
  }
  .icon-insta {
    font-size: 20px;
    padding: 3px;
  }
  .card-1-text {
    font-size: 18px;
  }
  .card-1-text2 {
    padding: 5px;
    font-size: 17px;
    margin-bottom: 3px;
  }

  .mission {
    margin: 20px 0;
  }
  .mission-heading {
    padding-left: 10px;
  }
  .heading-2 {
    font-size: 15px;
    padding: 10px;
    margin-top: 0px;
  }
  .bottom-mission {
    margin-top: 7px;
  }
  .bottom-mission-text1 {
    margin-bottom: -30px;
  }
  .bottom-mission-text2 {
    margin-top: 15px;
  }
  .main-buttons {
    margin-right: 4%;
    margin-top: -40px;
  }
  .buttons-items {
    width: 75px;
    height: 50px;
  }

  .footer-1 {
    display: flex;
    letter-spacing: 1px;
    padding: 0px;
    gap: 0px;
  }
  .footer-logo {
    width: 50px;
    mix-blend-mode: color-burn;
  }
  .footer-1-text {
    margin-top: 0px;
    font-size: small;
  }
  .footer-20 {
    display: flex;
    gap: 8px;
    padding-left: 0rem;
    font-size: 15px;
  }
  .main-footer-icons {
    margin: 14px;
  }
  .footer-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-about {
    padding: 10px;
    gap: 5px;
    width: 50%;
  }
  .footer-about-text-1 {
    font-size: medium;
  }
  .footer-about-text {
    font-size: small;
  }
  .about-address-1,
  .about-address-2 {
    font-size: 12px;
    width: 100%;
  }
  .footer-contact {
    padding: 10px;
    margin-left: 0%;
    gap: 5px;
    width: 50%;
  }
  .footer-contact-heading {
    font-size: medium;
  }
  .footer-links {
    padding: 10px;
    margin-left: 0;
    gap: 10px;
    text-decoration: none;
    width: 50%;
  }
  .search-input {
    width: 165px;
    height: 40px;
  }
  .quick-link-text {
    font-size: medium;
  }
  .footer-bottom-end {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
    padding: 10px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
  }
  .footer-end-logo {
    display: flex;
    padding-left: 0rem;
    margin-top: 5px;
    gap: 10px;
  }
  .bottom-end-pic {
    width: 50px;
    height: 30px;
  }
}

@media screen and (min-device-width: 668px) and (max-device-width: 800px) {
  #hamburger {
    display: none;
  }

  .hide {
    display: flex !important;
  }

  ul {
    width: 100%;
    justify-content: flex-end;
    gap: 3rem;
  }

  .overlay-text {
    transform: translate(0%, -50%);
    top: 50%;
    font-size: 20px;
    padding: 22px;
  }

  .statement {
    font-style: normal;
    font-size: 40px;
    padding: 10px;
  }
  .pic {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 29px;
  }
  .statement-pics {
    width: 140px;
  }
  .img-container {
    margin-top: 15px;
    flex-wrap: wrap;
    padding: 20px;
    gap: 25px;
  }

  .photos {
    width: 300px;
    margin: 0;
  }

  .fairy-0 {
    font-size: 15px;
    top: 6%;
    left: 3.5%;
  }
  .fairy-1 {
    top: 17%;
    left: 3.5%;
    font-size: 18px;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
  }

  .fairy-2 {
    top: 62%;
    left: 3.5%;
    font-size: 18px;
  }

  .main-img {
    margin-top: 15px;
  }
  .anime-0 {
    top: 9%;
    left: 3.5%;
    font-size: 25px;
  }
  .anime-1 {
    top: 22%;
    left: 3.5%;
    font-size: 45px;
  }
  .anime-2 {
    top: 50%;
    left: 3.5%;
    font-size: 35px;
  }
  .anime-3 {
    top: 83%;
    right: 5%;
    font-size: 20px;
    padding: 20px;
    width: 220px;
  }
  .table-text {
    flex-wrap: wrap;
    justify-content: center;
  }

  .frame-0 {
    margin: 20px;
  }
  .main-frame {
    flex-wrap: wrap;
  }
  .frame {
    padding: 10px;
  }
  .frame-10 {
    height: 240px;
  }

  .main-gallery {
    margin-top: 30px;
  }
  .gallery-text {
    padding: 25px 50px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .gallery-items {
    width: 360px;
    height: 240px;
    margin: 10px;
    padding: 0px;
  }

  .gallery-text-2 {
    margin: 0 78px;
    margin-top: 0px;
    padding: 20px;
  }
  .main-card {
    padding: 8px;
    gap: 15px;
  }
  .main-card-1,
  .main-card-2,
  .main-card-3,
  .main-card-4 {
    width: 280px;
    margin-bottom: 10px;
  }

  .mission {
    margin: 20px 0;
  }
  .mission-heading {
    padding-left: 10px;
  }
  .heading-2 {
    font-size: 15px;
    padding: 10px;
    margin-top: 0px;
  }
  .bottom-mission {
    margin-top: 15px;
  }
  .bottom-mission-text1 {
    margin-bottom: -30px;
  }
  .bottom-mission-text2 {
    margin-top: 15px;
  }
  .main-buttons {
    margin-right: 4%;
    margin-top: -40px;
  }
  .buttons-items {
    width: 90px;
    height: 65px;
  }

  .footer-1 {
    display: flex;
    letter-spacing: 1px;
    padding: 0px;
    gap: 0px;
  }
  .footer-logo {
    width: 50px;
    mix-blend-mode: color-burn;
  }
  .footer-1-text {
    margin-top: 0px;
    font-size: small;
  }
  .footer-20 {
    display: flex;
    gap: 8px;
    padding-left: 0rem;
    font-size: 15px;
  }
  .main-footer-icons {
    margin: 14px;
  }
  .footer-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-about {
    padding: 10px;
    gap: 5px;
    width: 50%;
  }
  .footer-about-text-1 {
    font-size: medium;
  }
  .footer-about-text {
    font-size: small;
  }
  .about-address-1,
  .about-address-2 {
    font-size: 12px;
    width: 100%;
  }
  .footer-contact {
    padding: 10px;
    margin-left: 0%;
    gap: 5px;
    width: 50%;
  }
  .footer-contact-heading {
    font-size: medium;
  }
  .footer-links {
    padding: 10px;
    margin-left: 0;
    gap: 10px;
    text-decoration: none;
    width: 50%;
  }
  .search-input {
    width: 165px;
    height: 40px;
  }
  .quick-link-text {
    font-size: medium;
  }
  .footer-bottom-end {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
    padding: 10px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
  }
  .footer-end-logo {
    display: flex;
    padding-left: 0rem;
    margin-top: 5px;
    gap: 10px;
  }
  .bottom-end-pic {
    width: 50px;
    height: 30px;
  }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1024px) {
  header {
    margin: 0;
    align-items: center;
    justify-content: space-between;
    gap: 11rem;
  }

  #hamburger {
    display: none;
  }

  .hide {
    display: flex !important;
  }

  ul {
    width: 100%;
    justify-content: space-between;
  }

  .overlay-text {
    transform: translate(0%, -50%);
    top: 50%;
    font-size: 27px;
    padding: 22px;
  }

  .statement {
    font-style: normal;
    font-size: 45px;
    padding: 10px;
  }
  .pic {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 40px;
  }
  .statement-pics {
    width: 160px;
  }

  .img-container {
    margin-top: 15px;
    flex-wrap: wrap;
    padding: 25px;
    gap: 25px;
  }

  .photos {
    width: 363px;
    margin: 0;
  }

  .fairy-0 {
    font-size: 18px;
    top: 12%;
    left: 3.5%;
  }
  .fairy-1 {
    top: 35%;
    left: 3.5%;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }

  .fairy-2 {
    top: 35%;
    left: 50%;
    font-size: 18px;
  }

  .main-img {
    margin-top: 20px;
  }
  .anime-0 {
    top: 9%;
    left: 3.5%;
    font-size: 25px;
  }
  .anime-1 {
    top: 22%;
    left: 3.5%;
    font-size: 45px;
  }
  .anime-2 {
    top: 50%;
    left: 3.5%;
    font-size: 35px;
  }
  .anime-3 {
    top: 83%;
    right: 5%;
    font-size: 20px;
    padding: 20px;
    width: 220px;
  }
  .table-text {
    flex-wrap: wrap;
    justify-content: center;
  }

  .frame-0 {
    margin: 30px;
  }
  .main-frame {
    flex-wrap: wrap;
  }
  .frame {
    padding: 15px;
  }
  .frame-10 {
    height: 280px;
  }
  .main-gallery {
    margin-top: 35px;
  }
  .gallery-text {
    padding: 25px 30px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .gallery-items {
    width: 360px;
    height: 240px;
    margin: 10px;
    padding: 0px;
  }

  .mission {
    margin: 35px 0;
  }
  .mission-heading {
    padding-left: 20px;
  }
  .heading-2 {
    font-size: 20px;
    padding: 20px;
    margin-top: 0px;
  }
  .bottom-mission {
    margin-top: 20px;
  }
  .bottom-mission-text1 {
    margin-bottom: -35px;
  }
  .bottom-mission-text2 {
    margin-top: 25px;
  }
  .main-buttons {
    margin-right: 8%;
    margin-top: -78px;
  }
  .buttons-items {
    width: 110px;
    height: 90px;
  }

  .footer-1 {
    display: flex;
    letter-spacing: 1px;
    padding: 0px;
    gap: 0px;
  }
  .footer-logo {
    width: 50px;
    mix-blend-mode: color-burn;
  }
  .footer-1-text {
    margin-top: 0px;
    font-size: small;
  }
  .footer-20 {
    display: flex;
    gap: 8px;
    padding-left: 0rem;
    font-size: 15px;
  }
  .main-footer-icons {
    margin: 14px;
  }
  .footer-logo {
    width: 75px;
  }
  .footer-20 {
    font-size: 18px;
  }
  .footer-1-text {
    font-size: xx-large;
  }
  .footer-bottom-end {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
    padding: 10px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
  }
  .footer-end-logo {
    display: flex;
    padding-left: 0rem;
    margin-top: 5px;
    gap: 10px;
  }
  .bottom-end-pic {
    width: 50px;
    height: 30px;
  }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1324px) {
  #hamburger {
    display: none;
  }

  .hide {
    display: flex !important;
  }

  .overlay-text {
    transform: translate(0%, -50%);
    top: 50%;
    font-size: 30px;
    padding: 22px;
  }

  .statement {
    font-style: normal;
    font-size: 60px;
    padding: 10px;
  }
  .pic {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 15px;
  }
  .statement-pics {
    width: 112px;
  }
  .img-container {
    margin-top: 15px;
    padding: 25px;
    gap: 25px;
  }

  .photos {
    width: 308px;
    margin: 0;
  }

  .fairy-0 {
    font-size: 25px;
    top: 12%;
    left: 3.5%;
  }
  .fairy-1 {
    top: 35%;
    left: 3.5%;
    font-size: 23px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
  }

  .fairy-2 {
    top: 35%;
    left: 50%;
    font-size: 23px;
  }

  .main-img {
    margin-top: 30px;
  }
  .anime-0 {
    top: 9%;
    left: 3.5%;
    font-size: 25px;
  }
  .anime-1 {
    top: 22%;
    left: 3.5%;
    font-size: 45px;
  }
  .anime-2 {
    top: 50%;
    left: 3.5%;
    font-size: 35px;
  }
  .anime-3 {
    top: 83%;
    right: 5%;
    font-size: 20px;
    padding: 20px;
    width: 220px;
  }
  .table-text {
    flex-wrap: wrap;
    justify-content: center;
  }

  .frame-0 {
    margin: 35px;
  }
  .main-frame {
    flex-wrap: wrap;
  }
  .frame {
    padding: 12px;
  }
  .frame-10 {
    height: 300px;
  }

  .main-gallery {
    margin-top: 35px;
  }
  .gallery-text {
    padding: 25px 30px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .gallery-items {
    width: 360px;
    height: 240px;
    margin: 10px;
    padding: 0px;
  }

  .mission {
    margin: 40px 0;
  }
  .mission-heading {
    padding-left: 20px;
  }
  .heading-2 {
    font-size: 22px;
    padding: 20px;
    margin-top: 15px;
  }
  .bottom-mission {
    margin-top: 25px;
  }
  .bottom-mission-text1 {
    margin-bottom: -35px;
  }
  .bottom-mission-text2 {
    margin-top: 25px;
  }
  .main-buttons {
    margin-right: 8%;
    margin-top: -78px;
  }
  .buttons-items {
    width: 120px;
    height: 95px;
  }

  .footer-1 {
    display: flex;
    letter-spacing: 1px;
    padding: 0px;
    gap: 0px;
  }
  .footer-logo {
    width: 50px;
    mix-blend-mode: color-burn;
  }
  .footer-1-text {
    margin-top: 0px;
    font-size: small;
  }
  .footer-20 {
    display: flex;
    gap: 8px;
    padding-left: 0rem;
    font-size: 15px;
  }
  .main-footer-icons {
    margin: 14px;
  }
  .footer-logo {
    width: 75px;
  }
  .footer-20 {
    font-size: 18px;
  }
  .footer-1-text {
    font-size: xx-large;
  }
  .footer-bottom-end {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
    padding: 10px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
  }
  .footer-end-logo {
    display: flex;
    padding-left: 0rem;
    margin-top: 5px;
    gap: 10px;
  }
  .bottom-end-pic {
    width: 50px;
    height: 30px;
  }
}

@media screen and (min-device-width: 1325px) {
  #hamburger {
    display: none;
  }

  .hide {
    display: flex !important;
  }

  .overlay-text {
    transform: translate(0%, -50%);
    top: 50%;
    font-size: 40px;
    padding: 50px;
  }

  .statement {
    font-style: normal;
    font-size: 65px;
    padding: 10px;
  }
  .pic {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 15px;
  }
  .statement-pics {
    width: 150px;
  }

  .main-img {
    margin-top: 40px;
  }
  .anime-0 {
    top: 9%;
    left: 3.5%;
    font-size: 25px;
  }
  .anime-1 {
    top: 22%;
    left: 3.5%;
    font-size: 45px;
  }
  .anime-2 {
    top: 50%;
    left: 3.5%;
    font-size: 35px;
  }
  .anime-3 {
    top: 75%;
    right: 5%;
    font-size: 20px;
    padding: 20px;
    width: 220px;
  }

  .footer-1 {
    display: flex;
    letter-spacing: 1px;
    padding: 0px;
    gap: 0px;
  }
  .footer-logo {
    width: 50px;
    mix-blend-mode: color-burn;
  }
  .footer-1-text {
    margin-top: 0px;
    font-size: small;
  }
  .footer-20 {
    display: flex;
    gap: 8px;
    padding-left: 0rem;
    font-size: 15px;
  }
  .main-footer-icons {
    margin: 20px;
  }
  .footer-logo {
    width: 100px;
  }
  .footer-20 {
    font-size: 22px;
  }
  .footer-1-text {
    font-size: xx-large;
    padding-left: 20px;
  }
  .footer-bottom-end {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
    padding: 20px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 15px;
  }
  .footer-end-logo {
    display: flex;
    padding-left: 0rem;
    margin-top: 5px;
    gap: 15px;
  }
  .bottom-end-pic {
    width: 75px;
    height: 50px;
  }
}
